@model HumanManagement.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Setting";
}

    <div class="row justify-content-center">
        <div class="col-md-8 border shadow">
            <div class="p-2 bg-site mt-2 mb-4">
                <h2 class="text-center text-white">Change Password</h2>
            </div>
            <div class="row">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "col-12 padding-0" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-4">@Html.LabelFor(m => m.OldPassword)</div>
                        <div class="col-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control w-100" })
                            <div class="small">@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" }) &#160; </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">@Html.LabelFor(m => m.NewPassword)</div>
                        <div class="col-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            <div class="small">@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" }) &#160; </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">@Html.LabelFor(m => m.ConfirmPassword)</div>
                        <div class="col-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <div class="small">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" }) &#160; </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end pr-4 pt-4">
                        <input type="submit" class="btn bg-site text-white rounded-0" value="Change" />
                    </div>
                }
            </div>
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}